<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%# Ruby comment tag %>
<%= "Count to 100" %>
<br>

<% 11.times do |i| %>
  <%= i %>
<% end %>


<br>
<%= "Message from controller :
#{@controller_message}" %>


<br>
<%= link_to("Go to index" ,
{:controller => 'welcome', :action => 'index',
  :id => 5, :random => "David"}) %>
